<nav class="navbar sticky-top navbar-expand-lg" style="background-color: #213555;">

	<a class="navbar-brand ms-5" style="color: #fff;" th:href="@{/}">
		<h3 th:text="#{nav.brand}"></h3>
	</a>

	<div th:fragment="navbar" class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">

		<div class="navbar-nav me-5">
			<a class="nav-item nav-link" style="color: #fff;" th:href="@{/}">
				<b th:text="#{nav.home}"></b>
			</a>

			<a class="nav-item nav-link" style="color: #fff;" th:href="@{/paper/upload}">
				<b th:text="#{nav.upload}"></b>
			</a>

			<a class="nav-item nav-link" style="color: #fff;" th:href="@{/profile}">
				<b th:text="#{nav.profile}"></b>
			</a>

			<a class="nav-item nav-link" style="color: #fff;" th:href="@{/notification}">
				<b th:text="#{nav.notifications}"></b>
			</a>

			<form th:action="@{/logout}" method="post">
				<button type="submit" class="logoutBtn btn" th:text="#{label.logout}"></button>
			</form>
		</div>
	</div>
</nav>
