<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <div th:replace="~{fragments/header}"></div>
    <title th:utext="${conference.title}"></title>
</head>
<body>

<div sec:authorize="hasRole('ADMIN')">
    <div th:replace="~{fragments/adminNavbar}"></div>
</div>
<div sec:authorize="hasRole('REGULAR')">
    <div th:replace="~{fragments/userNavbar}"></div>
</div>

<div class="d-flex flex-column align-items-center mt-5" style="min-height: 70vh;">
    <h3 th:utext="${conference.title}"></h3>
    <p th:utext="${conference.location}"></p>
    <div sec:authorize="hasRole('ADMIN')">
        <div th:if="${not #lists.isEmpty(papers)}" th:each="paper : ${papers}" class="w-50 mt-4 gap-4">
            <div class="card p-3">
                <p th:utext="${paper.title}"></p>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(papers)}" class="d-flex flex-column w-100 mt-4 gap-4">
            <div class="card p-3">
                <h4 class="my-3 text-center" th:text="#{message.no.papers.published}"></h4>
            </div>
        </div>
    </div>
    <div sec:authorize="hasRole('REGULAR')">
        <div th:replace="~{fragments/papers :: papers(papers=${papers})}"></div>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>
</body>
</html>
