<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <div th:replace="~{fragments/header}"></div>
    <title th:text="#{title.create.conference}"/>
</head>
<body>
<div th:replace="~{fragments/adminNavbar}"></div>

<div class="d-flex flex-column align-items-center mt-5" style="min-height: 70vh;">
    <h3 th:text="#{header.create.conference}"/>

    <form th:action="@{/conference}" method="post" th:object="${conference}"
          class="d-flex flex-column w-50 mt-4 gap-4">

        <div class="form-group">
            <label for="title">Conference Title: <span class="required">*</span></label>
            <input type="text" class="form-control" th:field="*{title}" id="title"/>
            <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></small>
        </div>

        <div class="d-flex gap-3">
            <div class="form-group w-100">
                <label for="country">Country: <span class="required">*</span></label>
                <select class="form-control" th:field="*{location.country}" id="country">
                    <option value="" selected="selected">Select Option</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Japan">Japan</option>
                </select>
                <small th:if="${#fields.hasErrors('location.country')}" th:errors="*{location.country}" class="error"></small>
            </div>

            <div class="form-group w-100">
                <label for="city">City: <span class="required">*</span></label>
                <input type="text" class="form-control" th:field="*{location.city}" id="city"/>
                <small th:if="${#fields.hasErrors('location.city')}" th:errors="*{location.city}" class="error"></small>
            </div>
        </div>
        <button type="submit" class="btn mt-3" style="width: 100px" th:text="#{label.create}"/>
    </form>

    <table class="table table-bordered w-50 my-5 mx-auto text-center">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Location</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="conference : ${conferenceList}">
            <td><a th:href="@{/conference/{id}(id=${conference.id})}" th:text="${conference.title}"></a></td>
            <td th:text="${conference.location}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments/footer}"></div>
</body>
</html>
