<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="~{fragments/header}"></div>
		<title th:text="#{title.ethics}"/>
	</head>
	<body>
		<div th:replace="~{fragments/plainNavbar}"></div>

		<div class="d-flex flex-column align-items-center mt-5" style="min-height: 75vh;">
			<h3 th:text="#{header.ethics}"/>

			<p class="w-50 text-justify">
				Computing professionals' actions change the world. To act responsibly, they should reflect upon the
				wider
				impacts of their work, consistently supporting the public good. The ACM Code of Ethics and Professional
				Conduct ("the Code") expresses the conscience of the profession.
			</p>
			<br>
			<p class="w-50 text-justify">
				The Code is designed to inspire and guide the ethical conduct of all computing professionals, including
				current and aspiring practitioners, instructors, students, influencers, and anyone who uses computing
				technology in an impactful way. Additionally, the Code serves as a basis for remediation when violations
				occur. The Code includes principles formulated as statements of responsibility, based on the
				understanding
				that the public good is always the primary consideration. Each principle is supplemented by guidelines,
				which provide explanations to assist computing professionals in understanding and applying the
				principle.
			</p>
			<br>
			<p class="w-50 text-justify">
				Section 1 outlines fundamental ethical principles that form the basis for the remainder of the Code.
				Section
				2 addresses additional, more specific considerations of professional responsibility. Section 3 guides
				individuals who have a leadership role, whether in the workplace or in a volunteer professional
				capacity.
				Commitment to ethical conduct is required of every ACM member, ACM SIG member, ACM award recipient, and
				ACM
				SIG award recipient. Principles involving compliance with the Code are given in Section 4.
			</p>

			<h4 class="my-4 w-50">
				Contribute to society and to human well-being, acknowledging that all people are stakeholders in
				computing
			</h4>

			<p class="w-50 text-justify">
				This principle, which concerns the quality of life of all people, affirms an obligation of computing
				professionals, both individually and collectively, to use their skills for the benefit of society, its
				members, and the environment surrounding them. This obligation includes promoting fundamental human rights
				and protecting each individual's right to autonomy. An essential aim of computing professionals is to
				minimize negative consequences of computing, including threats to health, safety, personal security, and
				privacy. When the interests of multiple groups conflict, the needs of those less advantaged should be given
				increased attention and priority.
			</p>

			<br>

			<p class="w-50 text-justify">
				Computing professionals should consider whether the results of their efforts will respect diversity, will be
				used in socially responsible ways, will meet social needs, and will be broadly accessible. They are
				encouraged to actively contribute to society by engaging in pro bono or volunteer work that benefits the
				public good.
			</p>

			<br>

			<p class="w-50 text-justify">
				In addition to a safe social environment, human well-being requires a safe natural environment. Therefore,
				computing professionals should promote environmental sustainability both locally and globally.
				1.2 Avoid harm.
			</p>

			<br>

			<p class="w-50 text-justify">
				In this document, "harm" means negative consequences, especially when those consequences are significant and
				unjust. Examples of harm include unjustified physical or mental injury, unjustified destruction or
				disclosure of information, and unjustified damage to property, reputation, and the environment. This list is
				not exhaustive.
			</p>

			<br>

			<p class="w-50 text-justify">
				Well-intended actions, including those that accomplish assigned duties, may lead to harm. When that harm is
				unintended, those responsible are obliged to undo or mitigate the harm as much as possible. Avoiding harm
				begins with careful consideration of potential impacts on all those affected by decisions. When harm is an
				intentional part of the system, those responsible are obligated to ensure that the harm is ethically
				justified. In either case, ensure that all harm is minimized.
			</p>
			<br>

			<p class="w-50 text-justify">
				To minimize the possibility of indirectly or unintentionally harming others, computing professionals should
				follow generally accepted best practices unless there is a compelling ethical reason to do otherwise.
				Additionally, the consequences of data aggregation and emergent properties of systems should be carefully
				analyzed. Those involved with pervasive or infrastructure systems should also consider Principle 3.7.
			</p>
			<br>

			<p class="w-50 text-justify">
				A computing professional has an additional obligation to report any signs of system risks that might result
				in harm. If leaders do not act to curtail or mitigate such risks, it may be necessary to "blow the whistle"
				to reduce potential harm. However, capricious or misguided reporting of risks can itself be harmful. Before
				reporting risks, a computing professional should carefully assess relevant aspects of the situation.
			</p>
			<br>

			<p class="w-50 text-justify">
				Computing professionals are often entrusted with confidential information such as trade secrets, client
				data, nonpublic business strategies, financial information, research data, pre-publication scholarly
				articles, and patent applications. Computing professionals should protect confidentiality except in cases
				where it is evidence of the violation of law, of organizational regulations, or of the Code. In these cases,
				the nature or contents of that information should not be disclosed except to appropriate authorities. A
				computing professional should consider thoughtfully whether such disclosures are consistent with the Code.
			</p>

		</div>

		<div th:replace="~{fragments/footer}"></div>
	</body>
</html>