<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="~{fragments/header}"></div>
		<title th:text="#{title.home}"/>
	</head>
	<body>
		<div th:replace="~{fragments/userNavbar}"></div>

		<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 75vh;">
			<h3 th:text="#{header.home}"/>

			<form th:action="@{/search}" method="get" th:object="${searchCommand}" class="input-group mb-3 w-50 mt-4">
				<div class="input-group-prepend">
					<select th:field="*{searchBy}" class="form-select" aria-label="Default select example">
						<option value="author" th:text="#{search.option.author}"/>
						<option value="conference" th:text="#{search.option.conference}"/>
						<option value="tag" th:text="#{search.option.tag}"/>
						<option value="title" th:text="#{search.option.title}"/>
					</select>
				</div>
				<input th:field="*{searchTerm}" type="text" class="form-control" aria-label="search"/>
				<div class="input-group-append">
					<button type="submit" class="btn d-flex align-items-center gap-1">
						<span class="material-icons">search</span>
						<span th:text="#{label.search}"/>
					</button>
				</div>
			</form>
		</div>

		<div th:replace="~{fragments/footer}"></div>
	</body>
</html>