<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<div th:replace="~{fragments/header}"></div>
		<title th:text="#{title.login}"/>
	</head>
	<body>
        <div th:replace="~{fragments/plainNavbar}"></div>

		<div class="d-flex flex-column align-items-center mt-5" style="min-height: 70vh;">
			<h3 th:text="#{header.sign.in}"/>

			<small class="mb-4">
				<span th:text="#{text.or}"></span>
				<a th:href="@{/register/step01}" th:text="#{link.sign.up}"/>
			</small>

			<div th:if="${param.logout}">
				<div class="alert alert-success mb-4" role="alert" th:text="#{message.logout}"/>
			</div>

			<form th:action="@{/authenticate}" method="post" th:object="${loginCommand}"
			      class="card d-flex flex-column w-25 gap-4 p-5">
				<div class="form-group">
					<label for="email" th:text="#{label.email}"></label>
					<input class="form-control mt-2" th:field="*{email}" type="text" id="email" name="email"/>
					<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></small>
				</div>

				<div class="form-group">
					<label for="password" th:text="#{label.password}"></label>
					<input class="form-control mt-2" th:field="*{password}" type="password" id="password" name="password"/>
					<small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></small>
				</div>

				<button type="submit" class="btn mt-3" th:text="#{label.sign.in}"/>
			</form>
		</div>

		<div th:replace="~{fragments/footer}"></div>
	</body>
</html>
