<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<div th:replace="~{fragments/header}"></div>
		<title th:text="#{title.login}"></title>
	</head>
	<body>
		<div th:replace="~{fragments/plainNavbar}"></div>

		<div class="d-flex flex-column align-items-center mt-5">
			<h3>Sign up for free</h3>
			<small>Or <a th:href="@{/register/cancel}">sign in to your existing account</a></small>
		</div>

		<div class="d-flex justify-content-center align-content-center">
			<div class="card m-4" style="width: 550px;">
				<div class="card-header">
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 40%; background-color: #213555"
						     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<div class="card-body">
					<form th:action="@{/register/step02}" method="post" th:object="${registerCommand}"
					      class="d-flex flex-column gap-4 p-5">
						<div class="form-group">
							<label for="username">Username: <span class="required">*</span></label>
							<input th:field="*{user.username}" class="form-control" id="username"/>
							<div th:if="${#fields.hasErrors('user.username')}" class="error"
							     th:errors="*{user.username}"></div>
						</div>

						<div class="form-group">
							<label for="email">Email: <span class="required">*</span></label>
							<input th:field="*{user.email}" class="form-control" id="email"/>
							<div th:if="${#fields.hasErrors('user.email')}" class="error" th:errors="*{user.email}"></div>
						</div>

						<div class="form-group">
							<label for="password">Password: <span class="required">*</span></label>
							<input type="password" th:field="*{user.password}" class="form-control" id="password"/>
							<div th:if="${#fields.hasErrors('user.password')}" class="error"
							     th:errors="*{user.password}"></div>
						</div>

						<div class="d-flex justify-content-center align-items-center mt-3 gap-3">
							<a th:href="@{/register/step01}" class="btn unfollow mt-3">Previous</a>
							<button type="submit" class="btn mt-3">Next</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div th:replace="~{fragments/footer}"></div>
	</body>
</html>
